{{define "form"}}
    <form method="POST">
        <h1>Please enter the details</h1>
        <label for="firstName">First Name: </label>
        <input type="text" id="firstName" name="firstName">
        <br>
        <label for="lastName">Last Name: </label>
        <input type="text" id="lastName" name="lastName">
        <br>
        <label for="sub">Grade: </label>
        <input type="text" id="grade" name="grade">
        <br>
        <input type="submit">
    </form>
{{end}}