{{define "searchForm2"}}
    <form method="POST">
        <label for="choice2">please enter selection</label>
        <input type="text" id="choice2" name="choice2">
        <br>
        <input type="submit">
    </form>
{{end}}