{{define "searchForm"}}
<form method = "POST">
  <label>Pick a search choice:</label>
  <select id="choice" name="choice">
    <option value="types">Type</option>
    <option value="capacity">Capacity</option>
    <option value="date">Date Availability</option>

  </select>
  <input type="submit">
</form>
{{end}}