{{define "venueForm"}}
        <h1>Venue Details</h1>
        <label for="venue">Venue Name: </label>
        <input class = "form" type="text" id="venue" name="venue">
        <br>
        <label for="capacity">Capacity: </label>
        <input class = "form" type="number" min="0" id="capacity" name="capacity">
        <br>
        <label for="venuetype">Venue Type: </label>
        <input class = "form" type="text" id="venuetype" name="venuetype">
        <br>
{{end}}